<button pButton (click)="addDegree()" class="ui-button-info" label="Add Degree" icon="pi pi-plus"></button>
<div class="row">           
  <div class="col col-xl-6 col-lg-12" *ngFor="let degree of degrees">
    <div class="panel">
    <ikubinfo-panel header="{{ degree.title }}">
      <div panel-content>
        <h1>{{ degree.title }}</h1>
        <p>{{ degree.syllabus }}</p>
        <p>Groups: {{ degree.groupList.length }}</p>
        <button pButton icon="pi pi-check" class="ui-button-success button" (click)="openGroups(degree.id)" label="Open Groups"></button>
      </div>
    </ikubinfo-panel>
    </div>
  </div>
</div>