<h1>My GPA: {{student.gpa}}</h1>
<a href="https://slack.com/oauth/authorize?client_id=837287798948.876662464226&scope=incoming-webhook,bot">
  <img alt="Add to Slack" height="40" width="139" 
  src="https://platform.slack-edge.com/img/add_to_slack.png" 
  srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x">
</a>
<ikubinfo-panel header ="My Progress">
  <div panel-content>
<p-chart type="radar" [data]="data"></p-chart>
</div>
</ikubinfo-panel>