<ikubinfo-panel header="{{group.degree.title}} {{group.name}}">
  <div panel-content *ngFor="let course of courses">
    <form role="form" [formGroup]="lecturesForm">
      <div>
      <ikubinfo-input label="{{course.name}}">
        <select class="custom-select"  formControlName="teacher" (click)="loadTeachers(course.departmentId)">
          <option value="" disabled>Choose the Teacher</option>
          <option *ngFor="let teacher of teachers" [ngValue]="teacher.id">{{teacher.firstName}} {{teacher.lastName}}</option>
        </select>
      </ikubinfo-input>
    </div>
    </form>
    <button pButton type="submit" (click)="submit(course)" [disabled]="lecturesForm.invalid" class="ui-button-success" label="Submit" icon="pi pi-file"></button>
    <button pButton type="button" (click)="reset()" class="ui-button-secondary reset" label="Reset" icon="pi pi-times"></button>
  </div>
</ikubinfo-panel>