<div class="row">
  <div class="col col-xl-12 col-lg-12">
    <ikubinfo-panel header="My Slack Messenger">
      <div panel-content>

        <p-table [columns]="cols" [value]="slacks" [paginator]="true" [rows]="3" [(contextMenuSelection)]="selectedSlack"
          [contextMenu]="cm">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{ col.header }}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pContextMenuRow]="rowData">
              <td *ngFor="let col of columns">
                <p>{{rowData[col.field]}}</p>
               </td>
            </tr>
          </ng-template>
        </p-table>
        <p-contextMenu #cm [model]="items"></p-contextMenu>
      </div>
    </ikubinfo-panel>
  </div>
</div>
